# Ignore the cookies.txt file in config
cookies.txt
config/cookies.txt

# Ignore all files named bot_token.txt
**/bot_token.txt

# Prevent bot_token.txt from being tracked
config/bot_token.txt

# Python cache files
__pycache__/
*.pyc

# audio messages directory
audio_messages/

# yt-dlp cache directory
.cache/

# transcriptions directory
transcriptions/

# audio files directory
audio/

# ignore potential transcribed files
*.mp3
*.vtt
*.srt

# virtual environments
venv/
